.container{
    margin: 0 auto !important;
    max-width: 88rem !important;
    padding: 0 4rem !important;
}

.login-container{
    margin: 0 auto !important;
    max-width: 40rem !important;
    padding: 0 4rem !important;
    margin-top: 100px !important;
}

.margin-top-custom{
    margin-top: 0px !important;
    margin-bottom: 30px !important;
}

.custom-layout{
    position: absolute;
    top:-2rem;
    left: 40rem !important;
}

.nav-background{
    background-color: #125488 !important;
}

.btn-background{
    background-color: #125488 !important;
}

.user-layout{
    position: absolute;
    left: 7rem;
    top:120px;
}

a{
    text-decoration: none !important;
    color: white !important;
    font-weight: 500;
}

.role-m{
    margin-bottom: 80px;
}

.btn-margin{
    margin: 1px !important;
}

.li-margin{
margin:auto;
display: flex;
justify-content: center;
align-items: center;
}


